html
    head
        title="Обо мне"
        style="* { font-family: ms sans serif; color: white; } body { background: black; }"
    body
        h1="Обо мне"
        div(style="display:flex;")
            img(style="border-radius: 100%; border: 3px solid yellow;" src="https://avatars.mds.yandex.net/get-mpic/1060343/img_id1572035055716995406.jpeg/orig" width=200 height=200)
            ul
                li="Мишаня Левинский"
                li= age
                li="Холост"
                li
                    a(href="https://vk.com/id0?45595714")="VKontakte"
                li="Backend developer"
                li(style="border: 2px solid red;")="Интересы:"
                    ul
                        li="FRONTEND"
                        li="PUG"
                        li="JS"